@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BUBBLE";
    src: url("/fonts/bubble.ttf");
}

@font-face {
    font-family: "BUBBLEGUM";
    src: url("/fonts/bubblegums/BUBBLEGUMS.TTF");
}

@font-face {
    font-family: "BUBBLEUP";
    src: url("/fonts/bubbledupp/Bubbledupp-Regular.ttf");
}