.clj-kondo
.git
.github
.lsp 
admin 
fs-admin 
README.md 
TODO.md 
**/.DS_Store
.gitignore
bb.edn
**/target 
backend/stock.json 
backend/init_db.py 
backend/migrations
frontend/*
!frontend/dist
model/target
