@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BUBBLE";
    src: url("/api/resources/fonts/bubble.ttf");
}

@font-face {
    font-family: "BUBBLEGUM";
    src: url("/api/resources/fonts/bubblegums/BUBBLEGUMS.ttf");
}

@font-face {
    font-family: "BUBBLEUP";
    src: url("/api/resources/fonts/bubbledupp/Bubbledupp-Regular.ttf");
}